<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(http://res.cloudinary.com/dkzfps9zm/image/upload/v1496586023/Inspirher/escaladeoriginale_lsaqye.jpg);">
  <div class="banner-content">
    <h1>Inspir'her</h1>
    <p>Encourage young girls to dare</p>
    <a class="btn btn-primary btn-lg">Read more</a>
  </div>
</div>
