<!-- <div class="banner" style="background-image: linear-gradient(-225deg, rgba(70,232,40,0.1) 0%, rgba(70,232,40,0.2) 50%), url(http://res.cloudinary.com/dkzfps9zm/image/upload/v1496586023/Inspirher/escaladeoriginale_lsaqye.jpg);"> -->
  <div class="home-box">
    <div class="home-box-content text-center">
        <h3>Inspir'her</h3>
        <p>Encourage young girls to dare...find out more about our project</p>
        <%= link_to "MORE", why_path, class: "home-btn-more" %>
    </div>
    <%= link_to "", why_path, class: "home-box-link" %>
  </div>
<!-- </div> -->
