<p> Notre projet consiste à réaliser une mosaïque de portraits de femmes inspirantes. Pour cela, nous allons partir à leur rencontre en traversant l'Europe à vélo. Le but ? mettre en lumière les facteurs de réussite chez les femmes, et de faire de ces femmes entrepreneurs, sportives de haut niveau, journalistes ou femmes politiques des <strong>modèles d'inspiration</strong>.</p>

<!-- vidéo -->
