<div class="full_image">
  <%= cl_image_tag("IMG_6936_dzabqv.jpg", width: 1291, height: 450, crop: :fill) %>
  <h1>L'équipe</h1>
</div>

<div class="content text-justify">
  <h3>Qui sommes-nous ?</h3>
  <p>Ce qui nous rassemble ? Notre <strong>énergie</strong>, notre <strong>ambition</strong>, notre goût de l’effort, notre optimisme et notre soif de découvrir, rencontrer, voyager, mais aussi et surtout notre envie de <strong>porter et partager un projet qui a du sens</strong>.</p>

  <p>Ce sont nos échanges et réflexions sur nos ambitions professionnelles respectives qui ont fait naître <strong>Inspir’her</strong> : comment au 21e siècle, trois étudiantes en Grande Ecole peuvent-elles être encore être si peu sûres de leurs ambitions professionnelles ? Nous souhaitons choisir un métier qui ait du sens, sommes passionnées d’entreprenariat et de Social Business, sommes persuadées de notre capacité à mener de front vie professionnelle et vie personnelle, aimons la tech’ et le sport, souhaitons avoir des responsabilités, nous écartons des parcours tout tracés…mais comme beaucoup, nous avons encore bien du mal à nous projeter. Toutes trois avons eu la chance de grandir avec l’idée que « quand on veut, on peut »…mais c'est toujours plus facile en ayant des modèles en tête.</p>

  <p>Pour nous, <strong>Inspir’her</strong> c’est donc <strong>à la fois un défi et une évidence</strong>. Un défi parce que notre projet implique de dépasser des limites culturelles, sportives, ou personnelles ; une évidence, parce que nous manquons encore de modèles féminins, que les inégalités Hommes / Femmes sont encore trop grandes et que nous sommes persuadées que celles-ci ne peuvent se réduire qu’en donnant encore plus d’ambition aux filles et aux femmes.</p>

  <p>Nous, trois jeunes étudiantes d’<strong>HEC Paris</strong>, allons donc parcourir un petit bout du monde pour rencontrer des femmes et leur entourage, afin que nous puissions tous nous en inspir’her.</p>

  <h3>Cécile, Alix et Charlène en quelques mots :</h3>

  <p>Curieuse et enthousiaste,<strong>Cécile</strong> est toujours à la recherche de nouveauté. Passionnée d'innovations techno et de social business, elle a fait deux stages en start-up à Paris avant de travailler à New Delhi. <strong>Inspir’her</strong>  lui permettra de découvrir, au-delà des parcours féminins inspirants, des modèles d'entreprises innovantes à l'étranger.</p>

  <p>Déterminée et curieuse,<strong>Alix</strong> s'est toujours demandé si elle avait ou non un rôle particulier à jouer en tant que femme, notamment dans sa carrière professionnelle. Convaincue de la nécessité de partir à l'international pour s'inspirer de ce qu'il s'y fait, elle attend avec impatience l'aventure <strong>Inspir’her</strong> !</p>

  <p>Sportive invétérée, passionnée de relations humaines et des échanges culturels, strongCharlène est admirative des aventures entrepreneuriales, en France et à l'étranger. Pour cette Franco-Polonaise, <strong>Inspir'her</strong> c'est l'occasion de rencontrer des femmes qui peuvent lui servir de modèle et d'en faire profiter le plus grand nombre.</p>
</div>
