<div class="full_image">
  <%= cl_image_tag("girlpower_n71ovs.jpg", width: 1291, height: 450, crop: :fill) %>
  <h1> Pourquoi ?</h1>
</div>

<div class="content text-justify">

  <div class="blockquote">
    <div class="quote">
      <p>"We need women role models everywhere. I think that it is really hard to imagine yourself as something you don't see."</p>
    </div>
    <div class="author">
      <p>-Chelsea Clinton</p>
    </div>
  </div>


  <h3> Notre constat ? Un manque d'initiatives féminines </h3>

  <p> On ne compte plus les études, chiffres et articles qui mettent en avant les différences hommes / femmes. Ces chiffres nous les connaissons tous, et pourtant...<p>
  <p><strong>...les femmes continuent à oser moins, et évitent de se mettre en avant.</strong><p>
  <p>Afin que les femmes dépassent leurs propres barrières, nous avons décidé de les faire ré-<strong>agir</strong> !</p>

  <h3> Notre défi? Encourager les jeunes femmes à se lancer, entreprendre et oser! </h3>

  <p> Convaincues de la force des rôles modèles féminins, et face à leur manque de visibilité, nous avons décidé d’aller à la rencontre de femmes aux parcours variés et inspirants.</p>
  <p> En diffusant leurs témoignages, nous souhaitons susciter chez les filles l'envie de se projeter et d’oser. C’est une façon pour nous de leur dire <strong>“Regarde, elle l’a fait, pourquoi pas toi ?”</strong></p>

  <h3> Notre méthodologie ? Rencontrer, Comprendre, Inspirer, Agir </h3>
</div>
  <div class="wrapper text-justify">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <p class= "text-center"> Rencontrer, Comprendre </p>
          <p> Nous échangeons avec des femmes aux profils, aux histoires, aux carrières variés. Entrepreneuses, sportives, chercheuses…</p>
        </div>
        <div class="col-sm-4">
          <p class= "text-center"> Inspirer </p>
          <p> Notre slogan au cours de cette aventure ! Nous présenterons une mosaïque de parcours féminins variés. Grâce à des interviews, nous rendons accessibles à toutes et à tous des exemples de femmes inspirantes.</p>
        </div>
        <div class="col-sm-4">
          <p class= "text-center" > Agir </p>
          <p> Nous souhaitons définir les facteurs de succès des femmes d’inspiration. Nous partagerons les portraits de ces femmes lors de conférences dans des écoles, des universités ou des entreprises.</p>
        </div>
      </div>
    </div>
  </div>


<!-- <h6> Et le vélo dans tout ça ?!</h6>
<p> Deux principales idées nous ont convaincues de faire du vélo notre moyen de transport pour notre périple :</p> -->

<!-- <ul>
  <li> <strong>Un vecteur d'émancipation de la femme :</strong> On l'oublie trop souvent, mais le vélo a bouleversé la vie des femmes ! Il leur a permis de troquer leurs robes pour des pantalons, de gagner en indépendance et liberté... Nous avons ainsi voulu nous appuyer sur ce symbole pour mettre en valeur des femmes.</li>
  <li><strong>Un challenge sportif :</strong>Nous allons aller à la rencontre de femmes qui ont des projets de vie qui dépassent et surpassent toutes les attentes... Pour aller dans leur sens, et donner un maximum de cohérence à nos ambitions d'inspiration, nous avons voulu définir un projet qui nous pousse nous aussi à repousser nos limites.</li>
</ul> -->
