.blockquote {
margin: 20px 0 2em -2.5%;
font-size: 130%;
text-align: left;
font-style: oblique;
opacity: 0.97;
padding-left: 20px;
padding-bottom: 0;
border-left: 1px solid #dd3333;
line-height: 1.3;
}

.quote p {
  font-size: 25px;
}

.author {
font-size: 70%;
display: block;
margin-top: 5px;
opacity: .5;

}
